<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Index</title>
  </head>
  <body>
    <div class="container">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum expedita
        atque minus recusandae blanditiis, quidem officiis? Culpa, quia eum.
        Unde aut ut neque provident, quasi asperiores consequuntur animi
        perspiciatis cumque.
      </p>
    </div>
  </body>
</html>
